# API
.env

# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Blink
src/client/network
src/server/network

# Pesde
*_packages

# Blink
*Blink*.luau

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# Misc
.DS_Store
