# API
.env

# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Blink
src/Client/Network
src/Server/Network
src/Shared/Network

# Pesde
.pesde/
*_packages

# Blink
*Blink*.luau
*Blink*.luau

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# Claude Code
.claude/settings.local.json

# Misc
.DS_Store
